body {
    font-family: 'Source Serif';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    font-stretch: normal;
    src: url('./WOFF2/TTF/SourceSerif4-Regular.ttf.woff2') format('woff2'),
         url('./WOFF/OTF/SourceSerif4-Regular.otf.woff') format('woff'),
         url('./OTF/SourceSerif4-Regular.otf') format('opentype'),
         url('./TTF/SourceSerif4-Regular.ttf') format('truetype');
    font-size: 14px;
}

figcaption {
    color: #777;
}

figure {
    font-style: italic;
}
