html {
	height: 100%;
	/*width: min-content;*/
	padding: 0;
	margin: 0;
}


body {
	height: 100svh;
	padding: 0;
	margin-left:0em;
	margin-right:0em;
	margin: 0;
	overflow-y:hidden;

}

figure {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p, figcaption,  {
	padding-top: 14px;
	padding-left: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

ul {
	padding-top: 0;
	padding-left: 18px;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}


p, figcaption {
	line-height: 1.5em;
}

img {
	height: auto !important;
	max-width: 100%;
}



iframe {
	width: auto;
	height: auto;
}

blockquote {
	margin-right: 0;
}

 table, th, td, tr, tbody {
		display:block;
		break-inside: column;
  }

#scroll-container{
	position:absolute;
	/* width: auto; */
	height:96%;
	height: 96svh;
	width: fit-content;
	margin: 1em;
	padding: 0em;
	padding-left:0;
	padding-top: 2svh;
	/* column-fill: auto; */
	column-width: 20em;
	/* column-count: auto; */
	column-gap: 0em;
	box-sizing:border-box;
	transform: translateX(0em);
	/*background:#78bdbd;
	border:2em #9b9b1f;
	outline:10px pink;
	outline-offset: -10px;*/
}

iframe {
	width: auto;
	height: auto;
}

blockquote {
	margin-right: 0;
}

 table, th, td, tr, tbody {
		display:block;
		break-inside: column;
  }


#overflow-cover {
    position: fixed;
    width: 100svw !important;
    height: 100svw;
    z-index: 9999; /* Higher z-index to cover the overflow */
    pointer-events: none; /* Allow interactions to pass through */
    background: rgba(0, 0, 0, 0); /* Transparent background */
	border: 1em  solid  #ffffffcc;
	box-sizing:border-box;
	overflow:hidden;
	border-top-width:0;
	border-bottom-width: 0;
}

.page {
	padding-right:2em;
	padding-left:0em;
}
